<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Machine Learning and Data Science trainee</h1>
            <span><address>Helsinki,Finland</address><time>Oct 2020 to Present</time></span>
        </header>
        <p>  </p>
    </article>
    <article>
        <header>
            <h1>Tutor for Master's Degree program</h1>
            <span><address>Lappeenranta, Finland</address><time>2018</time></span>
        </header>
        <p>Supported 4 new students to get familiar with new study and school.</p>
    </article>
    <article>
        <header>
            <h1>International Procurement Team Lead</h1>
            <span><address>Ho Chi Minh City, Vietnam</address><time>2013 to 2015</time></span>
        </header>
        <p>Managed a portfolio of 150 SKUs provided by  30 international suppliers
           Managed monthly replenishment plan based on forecast (for for make-to-stock SKUs) or actual
            orders (for make-to-order SKUs) and ensured that the plan was cost-efficient
           Analysed tender proposals and assisted manager in tendering process </p>
    </article>
    <article>
        <header>
            <h1>International procurement executive</h1>
            <span><address>Ho Chi Minh City, Vietnam</address><time>2012</time></span>
        </header>
        <p>Worked with documentation and supported Team Lead.</p>
    </article>

</section>
