<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Free Code Camp</h1>
            <span><address>Global</address><time>2020</time></span>
        </header>
        <p>
            Completed 300hours learning with Responsive Web design HTML CSS .
        </p>
    </article>
    <article>
        <header>
            <h1>Data Camp</h1>
            <span><address>Global</address><time>2020</time></span>
        </header>
        <p>
            Completed full career track of 11 courses of SQL server for Data Analyst.
            Completed basics of Python for Data Analyst course.
        </p>
    </article>
    <article>
        <header>
            <h1>Problem-solving events</h1>
            <span><address>Finland</address><time>2016-2018</time></span>
        </header>
        <p>
            SAP Next Gen Finland 2018
        </p>
        <p>
            UPM Boot Camp 2017
        </p>
        <p>
            LUTES Business Challenge 2017, first prize
        </p>
    </article>
</section>
